<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DebugObjc copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DebugObjc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>objc-simulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>objc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>837F67A81A771F63004D34FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3C940D71EA4C36D00F1F1BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3C940E11EA4C3FC00F1F1BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3C940EF1EA4C42C00F1F1BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AAC0620554660B00DB518D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
